
<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__title">
        <h1 class="title">Напишите нам</h1>
      </div>
      <div class="footer__call-area">
        <div class="footer__email">
          <a href="">info@millenium.ru</a>
        </div>
        <div class="footer__btn">
          <button class="btn btn-feedback btn-feedback--active">
            <span class="btn-typography">Заказать звонок</span>
          </button>
        </div>
      </div>
      <div class="footer__info-area">
        <div class="footer__address">
          <div class="footer__address-mark">
            <p>
              Москва,
              ул. Профсоюзная 76, <br>
              БЦ «ГАЛЕРЕЯ 76» 2 этаж
            </p>
          </div>
          <div class="footer__address-time">
            <p>
              +7 (495) 792-66-69 <br>
              пн-пт 10:00–19:00
            </p>
          </div>
        </div>

        <div class="footer__social">
          <div class="footer__social-icon">
            <a href="#">
              <img src="./assets/images/icons/telegram-icon.svg" alt="">
            </a>
          </div>
          <div class="footer__social-icon">
            <a href="#">
              <img src="./assets/images/icons/whatsapp-icon.svg" alt="">
            </a>
          </div>
        </div>

        <div class="footer__logo">
          <div class="footer__logo-img">
            <a href="#">
              <img src="./assets/images/icons/footer-logo.svg" alt="">
            </a>
          </div>
          <div class="footer__logo-text">
            <p>© 2018–2021 | Millenium - создание интернет-магазинов на 1С Битрикс</p>
          </div>
          <div class="footer__logo-link">
            <a href="">Политика конфиденциальности</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
